version: 2.1

executors:
  default:
    working_directory: ~/workspace
    docker:
      - image: circleci/node:11.15.0

jobs:
  setup:
    executor: default
    steps:
      - checkout
      - run:
          name: npm install
          command: npm i
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - ~/workspace/node_modules
  unit_test:
    executor: default
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: unit test
          command: |
            npm run test:unit:report
      - store_artifacts:
          path: ./reports
          destination: ./reports


workflows:
  demo:
    jobs:
      - setup
      - unit_test:
          requires:
            - setup
