version: 2.1

executors:
  default:
    working_directory: ~/workspace
    docker:
      - image: circleci/node:11.15.0

jobs:
  default:
    executor: default
    steps:
      - checkout
      - run:
          name: npm install
          command: npm i && npm run lint
      - save_cache:
        key: dependency-cache-{{ checksum "package-lock.json" }}
        paths:
          - ./node_modules

workflows:
  demo:
    jobs:
      - default
